@import "variable";

// 共通
html {
  font-size: 10px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
}

.common--button {
  padding: 8.5px 35.5px;
  background: transparent linear-gradient(90deg, rgba(250, 65, 204, 1) 0%, rgba(96, 32, 176, 1) 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .common--button {
    display: none;
    padding: 8.5px 16px;
    background: transparent linear-gradient(90deg, rgba(250, 65, 204, 1) 0%, rgba(96, 32, 176, 1) 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
  }
}

.open {
  display: block;
}

.close {
  display: none;
}

.sp-only {
  display: none;
}
.not-pc {
  display: none;
}

.sp--nav {
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  &__menu {
    margin-bottom: 30px;
    text-align: center;
  }
  &__link {
    font-size: 2rem;
    color: #ffffff;
  }
}
.navopen {
  visibility: visible;
  opacity: 1;
}

.scroll-prevent {
  /*動き固定*/
  position: fixed;
  /*奥行きを管理*/
  z-index: -1;
  /*下2つで背景を元のサイズのまま表示することができる*/
  width: 100%;
  height: 100%;
}

// 共通ここまで

// ヘッダー
.header {
  width: calc(100% - 20px * 2);
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  z-index: 99;
  &__container {
    width: 100%;
    max-width: 982px;
    height: 94px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__logo {
    width: 47px;
    height: 47px;
    margin-right: 16px;
  }
  &__title {
    font-size: 2.4rem;
    color: #333333;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__menu {
    margin-right: 46px;
    font-size: 1.6rem;
    color: #333333;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 20px * 2);
    padding: 0 20px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    z-index: 99;
    &__container {
      width: 100%;
      max-width: 982px;
      height: 94px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__left {
      display: flex;
      justify-content: left;
      align-items: center;
    }
    &__logo {
      width: 24px; //*//
      height: 24px; //*//
      margin-right: 16px;
    }
    &__title {
      font-size: 2.4rem;
      color: #333333;
    }
    &__center {
      display: none; //*//
    }
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
    }
    &__menu {
      margin-right: 46px;
      font-size: 1.6rem;
      color: #333333;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .sp-only {
    display: block;
  }
}

.fv {
  width: 100%;
  height: 681px;
  margin-top: 94px;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
  &__container {
    position: absolute;
    top: 159px;
    left: 14%;
    z-index: 10;
  }
  &__title {
    font-size: 3.2rem;
    color: #333333;
    line-height: calc(23 / 16);
    margin-bottom: 44px;
  }
  &__message {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 45px;
  }
  &__image {
    width: 518px;
    object-fit: cover;
    position: absolute;
    top: 131px;
    right: 12.59%;
  }
  &__circle {
    width: 708px;
    height: 711px;
    background: url(img/circle.svg);
    position: absolute;
    top: -97px;
    right: -85px;
    z-index: -1;
  }
}
@media screen and (max-width: 1000px) {
  .fv {
    // width: 100%;
    // height: 681px;
    // margin-top: 94px;
    // margin-bottom: 80px;
    // position: relative;
    // overflow: hidden;
    // &__container {
    //   position: absolute;
    //   top: 159px;
    //   left: 14%;
    //   z-index: 10;
    // }
    // &__title {
    //   font-size: 3.2rem;
    //   color: #333333;
    //   line-height: calc(23 / 16);
    //   margin-bottom: 44px;
    // }
    // &__message {
    //   font-size: 1.6rem;
    //   color: #333333;
    //   line-height: 1.5;
    //   margin-bottom: 45px;
    // }
    &__image {
      width: 380px;
      // object-fit: cover;
      // position: absolute;
      top: 240px;
      right: 4%;
    }
    &__circle {
      // width: 708px;
      // height: 711px;
      // background: url(img/circle.svg);
      // position: absolute;
      // top: -97px;
      right: -300px;
      // z-index: -1;
    }
  }
}
@media screen and (max-width: 767px) {
  .fv {
    // width: 100%;
    height: 60vh;
    // margin-top: 94px;
    margin-bottom: 40px;
    // position: relative;
    // overflow: hidden;
    &__container {
      //   position: absolute;
      top: 80px;
      //   left: 14%;
      //   z-index: 10;
    }
    // &__title {
    //   font-size: 3.2rem;
    //   color: #333333;
    //   line-height: calc(23 / 16);
    //   margin-bottom: 44px;
    // }
    // &__message {
    //   font-size: 1.6rem;
    //   color: #333333;
    //   line-height: 1.5;
    //   margin-bottom: 45px;
    // }
    &__image {
      width: 240px;
      // object-fit: cover;
      // position: absolute;
      top: 200px;
      right: -8%;
    }
    &__circle {
      width: 540px;
      height: 540px;
      // background: url(img/circle.svg);
      // position: absolute;
      top: -120px;
      right: -360px;
      // z-index: -1;
    }
  }
}

.features {
  width: calc(100% - 20px * 2);
  padding: 0 20px;
  &__title {
    font-size: 3.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #3ba6c9;
    text-align: center;
    margin-bottom: 67px;
  }
  &__menu.menu1 {
    font-size: 2.8rem;
    color: #333333;
    text-align: center;
    margin-bottom: 49px;
  }
  &__container.container1 {
    width: calc(100% - 6.94% - 40px * 2);
    max-width: 1039px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-left: 6.94%;
    margin-bottom: 86px;
  }
  &__image.image1 {
    width: 36.57%;
    min-width: 335px;
    object-fit: cover;
  }
  &__wrapper.wrapper1 {
    width: 49.31%;
    padding: 47px 0 37px;
  }
  &__content.content1 {
    font-size: 2.4rem;
    color: #333333;
    line-height: 2;
    margin-bottom: 45px;
  }
  &__description.desc1 {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.62;
    word-break: keep-all;
  }
  &__menu.menu2 {
    font-size: 2.8rem;
    color: #333333;
    text-align: center;
    margin-bottom: 59px;
  }
  &__container.container2 {
    width: calc(100% - 9.12% - 40px * 2);
    max-width: 1010px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 40px;
    margin-left: 9.12%;
    margin-bottom: 136px;
  }
  &__image.image2 {
    width: 43.43%;
    min-width: 335px;
    object-fit: cover;
  }
  &__wrapper.wrapper2 {
    width: 53.25%;
    padding: 2px 6.33% 80px 0;
  }
  &__content.content2 {
    font-size: 2.4rem;
    color: #333333;
    line-height: 2;
    margin-bottom: 40px;
  }
  &__description.desc2 {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.62;
    word-break: keep-all;
  }
  &__menu.menu3 {
    font-size: 2.8rem;
    color: #333333;
    text-align: center;
    margin-bottom: 62px;
  }
  &__container.container3 {
    width: calc(100% - 9.12% - 40px * 2);
    max-width: 923px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-left: 9.12%;
    margin-bottom: 154px;
  }
  &__image.image3 {
    width: 43.34%;
    min-width: 335px;
    object-fit: cover;
  }
  &__wrapper.wrapper3 {
    width: 44.92%;
    padding-top: 20px;
  }
  &__content.content3 {
    font-size: 2.4rem;
    color: #333333;
    line-height: 2;
    margin-bottom: 33px;
  }
  &__description.desc3 {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.62;
    word-break: keep-all;
  }
}
@media screen and (max-width: 1000px) {
  .pc-only {
    display: none;
  }
  .not-pc {
    display: block;
  }

  .features {
    width: calc(100% - 20px * 2);
    padding: 0 20px;
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 67px;
    }
    &__menu.menu1 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 49px;
    }
    &__container.container1 {
      // width: calc(100% - 6.94% - 40px * 2);
      width: 100%; //*//
      max-width: 1039px;
      display: flex;
      justify-content: space-between;
      padding: 0; //*//
      margin-left: 0%; //*//
      margin-bottom: 86px;
    }
    &__image.image1 {
      width: 45%; //*//
      min-width: 335px;
      object-fit: cover;
    }
    &__wrapper.wrapper1 {
      width: 45%; //*//
      padding: 47px 0 37px;
    }
    &__content.content1 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 45px;
    }
    &__description.desc1 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all; //*//
    }
    &__menu.menu2 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 59px;
    }
    &__container.container2 {
      // width: calc(100% - 9.12% - 40px * 2);
      width: 100%; //*//
      max-width: 1010px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0; //*//
      margin-left: 0%; //*//
      margin-bottom: 136px;
    }
    &__image.image2 {
      width: 45%; //*//
      min-width: 335px;
      object-fit: cover;
    }
    &__wrapper.wrapper2 {
      width: 45%; //*//
      padding: 2px 6.33% 80px 0;
    }
    &__content.content2 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 40px;
    }
    &__description.desc2 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all; //*//
    }
    &__menu.menu3 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 62px;
    }
    &__container.container3 {
      // width: calc(100% - 9.12% - 40px * 2);
      width: 100%; //*//
      max-width: 923px;
      display: flex;
      justify-content: space-between;
      padding: 0; //*//
      margin-left: 0%; //*//
      margin-bottom: 154px;
    }
    &__image.image3 {
      width: 45%; //*//
      min-width: 335px;
      object-fit: cover;
    }
    &__wrapper.wrapper3 {
      width: 45%; //*//
      padding-top: 20px;
    }
    &__content.content3 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 33px;
    }
    &__description.desc3 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all; //*//
    }
  }
}
@media screen and (max-width: 767px) {
  .features {
    width: calc(100% - 20px * 2);
    padding: 0 20px;
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 40px; //*//
    }
    &__menu.menu1 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 25px; //*//
    }
    &__container.container1 {
      width: 100%;
      max-width: 1039px;
      display: block; //*//
      justify-content: space-between;
      padding: 0;
      margin-left: 0%;
      margin-bottom: 40px; //*//
    }
    &__image.image1 {
      width: 45%; //*//
      min-width: 335px;
      object-fit: cover;
      margin-bottom: 20px; //*//
    }
    &__wrapper.wrapper1 {
      width: calc(100% - 10px * 2); //*//
      padding: 47px 10px 37px;
    }
    &__content.content1 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 20px; //*//
    }
    &__description.desc1 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all;
    }
    &__menu.menu2 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 30px; //*//
    }
    &__container.container2 {
      // width: calc(100% - 9.12% - 40px * 2);
      width: 100%; //*//
      max-width: 1010px;
      display: block; //*//
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0;
      margin-left: 0%;
      margin-bottom: 40px; //*//
    }
    &__image.image2 {
      width: 45%;
      min-width: 335px;
      object-fit: cover;
      margin-bottom: 20px; //*//
    }
    &__wrapper.wrapper2 {
      width: calc(100% - 10px * 2); //*//
      padding: 2px 10px 80px 0; //*//
    }
    &__content.content2 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 20px; //*//
    }
    &__description.desc2 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all; //*//
    }
    &__menu.menu3 {
      font-size: 2.8rem;
      color: #333333;
      text-align: center;
      margin-bottom: 30px; //*//
    }
    &__container.container3 {
      width: 100%;
      max-width: 923px;
      display: block; //*//
      justify-content: space-between;
      padding: 0;
      margin-left: 0%;
      margin-bottom: 40px; //*//
    }
    &__image.image3 {
      width: 45%;
      min-width: 335px;
      object-fit: cover;
      margin-bottom: 20px; //*//
    }
    &__wrapper.wrapper3 {
      width: calc(100% - 10px * 2); //*//
      padding: 20px 10px 0; //*//
    }
    &__content.content3 {
      font-size: 2.4rem;
      color: #333333;
      line-height: 2;
      margin-bottom: 20px; //*//
    }
    &__description.desc3 {
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.62;
      word-break: break-all;
    }
  }
}

.price {
  width: calc(100% - 16.14% * 2);
  padding: 55px 16.14% 68px;
  background: #eefbfb;
  &__title {
    font-size: 3.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 11px;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #3ba6c9;
    text-align: center;
    margin-bottom: 70px;
  }
  &__table {
    width: 100%;
    height: 410px;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 35.5px;
    border: none;
  }
  &__menu {
    width: 290px;
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
  &__tag {
    font-size: 1.6rem;
    color: #333333;
    padding-left: 30.5px;
    vertical-align: middle;
    border-bottom: 1px solid #e5e5e5;
  }
  &__note {
    font-size: 1.6rem;
    color: #444444;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .price {
    width: calc(100% - 20px * 2); //*//
    padding: 55px 20px 68px; //*//
    background: #eefbfb;
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 11px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 40px; //*//
    }
    &__table {
      width: 100%;
      height: 410px;
      background: #ffffff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-bottom: 20px; //*//
      border: none;
    }
    &__menu {
      width: 60%; //*//
      font-size: 1.6rem;
      color: #333333;
      line-height: 1.6;
      text-align: center;
      vertical-align: middle;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
    }
    &__tag {
      font-size: 1.6rem;
      color: #333333;
      padding-left: 30.5px;
      vertical-align: middle;
      border-bottom: 1px solid #e5e5e5;
    }
    &__note {
      font-size: 1.6rem;
      color: #444444;
      text-align: center;
    }
  }
}

.faq {
  width: calc(100% - 17.57% - 16.03%);
  padding: 55px 16.03% 86px 17.57%;
  &__title {
    font-size: 3.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 11px;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #3ba6c9;
    text-align: center;
    margin-bottom: 32px;
  }
  &__menu {
    list-style: none;
    border: 1px solid #e5e5e5;
  }
  &__question {
    font-size: 1.4rem;
    color: #333333;
    text-align: center;
    padding: 18px 0 20px;
  }
  &__answer {
    font-size: 1.4rem;
    line-height: 1.85;
    color: #333333;
    background: #f2f2f2;
    padding: 17px 35px 30px 35px;
  }
}
@media screen and (max-width: 767px) {
  .faq {
    width: calc(100% - 20px * 2); //*//
    padding: 40px 20px 40px; //*//
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 11px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 32px;
    }
    &__menu {
      list-style: none;
      border: 1px solid #e5e5e5;
    }
    &__question {
      font-size: 1.4rem;
      color: #333333;
      text-align: center;
      padding: 18px 0 20px;
    }
    &__answer {
      font-size: 1.4rem;
      line-height: 1.85;
      color: #333333;
      background: #f2f2f2;
      padding: 17px 35px 30px 35px;
    }
  }
}

.blog {
  width: calc(100% - 70px * 2);
  padding: 55px 70px 91px;
  background: #eefbfb;
  &__title {
    font-size: 3.2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 11px;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #3ba6c9;
    text-align: center;
    margin-bottom: 54px;
  }
  &__cards {
    display: flex;
    padding-bottom: 10px;
  }
  &__card {
    flex: 1;
    position: relative;
    margin-right: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 14px;
  }
  &__content {
    font-size: 1.8rem;
    color: #333333;
    line-height: 1.44;
    padding: 0 30px 35px 18px;
  }
  &__date {
    position: absolute;
    bottom: 10px;
    right: 32px;
    font-size: 1.6rem;
    color: #444444;
  }
}
@media screen and (max-width: 1000px) {
  .blog {
    width: calc(100% - 20px * 2); //*//
    padding: 55px 20px 91px; //*//
    background: #eefbfb;
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 11px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 54px;
    }
    &__cards {
      display: flex;
      padding-bottom: 10px;
    }
    &__card {
      flex: 1;
      position: relative;
      margin-right: 30px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__image {
      width: 100%;
      height: 260px;
      object-fit: cover;
      margin-bottom: 14px;
    }
    &__content {
      font-size: 1.8rem;
      color: #333333;
      line-height: 1.44;
      padding: 0 30px 35px 18px;
    }
    &__date {
      position: absolute;
      bottom: 10px;
      right: 32px;
      font-size: 1.6rem;
      color: #444444;
    }
  }
}
@media screen and (max-width: 767px) {
  .blog {
    width: calc(100% - 20px * 2);
    padding: 55px 20px 40px; //*//
    background: #eefbfb;
    &__title {
      font-size: 3.2rem;
      color: #333333;
      text-align: center;
      margin-bottom: 11px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      text-align: center;
      margin-bottom: 54px;
    }
    &__cards {
      display: block; //*//
      padding-bottom: 10px;
    }
    &__card {
      flex: 1;
      position: relative;
      margin-right: 0px; //*//
      margin-bottom: 30px; //*//
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__image {
      width: 100%;
      height: 260px;
      object-fit: cover;
      margin-bottom: 14px;
    }
    &__content {
      font-size: 1.8rem;
      color: #333333;
      line-height: 1.44;
      padding: 0 30px 35px 18px;
    }
    &__date {
      position: absolute;
      bottom: 10px;
      right: 32px;
      font-size: 1.6rem;
      color: #444444;
    }
  }
}

.works {
  width: 100%;
  padding: 55px 0 90px;
  &__title {
    font-size: 3.2rem;
    color: #333333;
    margin-bottom: 11px;
    text-align: center;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #3ba6c9;
    margin-bottom: 68px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .works {
    width: 100%;
    padding: 40px 0 60px; //*//
    &__title {
      font-size: 3.2rem;
      color: #333333;
      margin-bottom: 11px;
      text-align: center;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #3ba6c9;
      margin-bottom: 68px;
      text-align: center;
    }
  }
}

.slide {
  &__image {
    width: 100%;
    height: 210px;
    object-fit: cover;
    margin-bottom: 18px;
  }
  &__cuption {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.5;
    padding: 0 18px;
    margin-bottom: 30px;
  }
  &__author {
    font-size: 1.4rem;
    color: #333333;
    line-height: 1.42;
    padding: 0 18px;
    margin-bottom: 40px;
  }
}

/* 全体のスタイル */
.swiper-wrapper {
  width: 100%;
  // height: 250px;
}
/* 全スライド共通スタイル */
.swiper-slide {
  width: calc((100% - 50px * 4) / 3);
  height: 100%;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.contact {
  width: calc(100%- 16.76% * 2);
  background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
  padding: 63px 16.76% 35px;
  text-align: center;
  &__title {
    font-size: 3.2rem;
    color: #ffffff;
    margin-bottom: 7px;
  }
  &__subTitle {
    font-size: 1.6rem;
    color: #ffffff;
    margin-bottom: 36px;
  }
  &__message {
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 44px;
  }
  &__wrapper {
    width: calc(100% - (6.83% + 6.98%));
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 31px 6.83% 35px 6.98%;
    text-align: left;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
  }
  &__name {
    font-size: 1.6rem;
    color: #333333;
  }
  &__label {
    font-size: 1.4rem;
    color: #ffffff;
    background: #0c449b;
    border-radius: 10px;
    padding: 4px 16px 6px;
    margin-left: 23px;
  }
  &__form {
    width: 64.13%;
    min-width: 320px;
    height: 43px;
    background: #eefbfb;
    border: none;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  &__form.large {
    width: 100%;
    height: 179px;
    margin-bottom: 27px;
    vertical-align: top;
  }
  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    margin-right: 10px;
  }
  &__pp {
    font-size: 1.6rem;
    color: #333333;
    text-align: center;
  }
  &__button {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%);
    width: 155px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 8px 0 9px;
    margin: 0 auto;
  }
}
.end-message {
  display: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 0;
}

.false-message {
  display: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .contact {
    width: calc(100%- 20px * 2); //*//
    background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
    padding: 63px 20px 35px; //*//
    text-align: center;
    &__title {
      font-size: 3.2rem;
      color: #ffffff;
      margin-bottom: 7px;
    }
    &__subTitle {
      font-size: 1.6rem;
      color: #ffffff;
      margin-bottom: 36px;
    }
    &__message {
      font-size: 1.6rem;
      color: #ffffff;
      line-height: 1.5;
      margin-bottom: 20px; //*//
    }
    &__wrapper {
      width: calc(100% - 20px * 2); //*//
      background: #ffffff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      padding: 31px 20px 35px; //*//
      text-align: left;
    }
    &__box {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
    }
    &__name {
      font-size: 1.6rem;
      color: #333333;
    }
    &__label {
      font-size: 1.4rem;
      color: #ffffff;
      background: #0c449b;
      border-radius: 10px;
      padding: 4px 16px 6px;
      margin-left: 23px;
    }
    &__form {
      width: 100%;
      min-width: 240px;
      height: 43px;
      background: #eefbfb;
      border: none;
      border-radius: 3px;
      margin-bottom: 25px;
    }
    &__form.large {
      width: 100%;
      height: 179px;
      margin-bottom: 27px;
    }
    &__check {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    &__checkbox {
      width: 20px;
      height: 20px;
      border: 1px solid #707070;
      margin-right: 10px;
    }
    &__pp {
      font-size: 1.6rem;
      color: #333333;
      text-align: center;
    }
    &__button {
      display: block;
      font-size: 1.4rem;
      color: #ffffff;
      text-align: center;
      background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%);
      width: 155px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      padding: 8px 0 9px;
      margin: 0 auto;
    }
  }
}

.footer {
  width: 100%;
  background: #f8f8f8;
  padding: 43px 0 49px;
  &__title {
    font-size: 2.4rem;
    color: #333333;
    text-align: center;
    margin-bottom: 21px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
  }
  &__pp {
    font-size: 1.6rem;
    color: #333333;
    margin-right: 29px;
  }
  &__row {
    font-size: 1.6rem;
    color: #333333;
  }
  &__copyright {
    font-size: 1.4rem;
    color: #333333;
    text-align: center;
  }
}
